    <div class="cover-about"></div>
    <section class="container" id="about">
        <h2>About Matías Sanchez</h2>
        <h3><span>Who I Am</span></h3>
        <p>I started learning programming in 2005 because I played a video game called Argentum Online. Argentum Online is a open-source 2D game made in Argentina, in fact is the first MMORPG made in Argentina. Argentum Online is coded in Visual Basic. That is the first programming language that I learned.</p>
        <p>With my limited knowledge about programming I decide to create a software to handle the inventory of a small business using Visual Basic.</p>
        <p>But it was a matter of time discovering the appeal of the web. In 2007 I start learning PHP. At the beginning it was really hard to learn, because I was really used to write code in Visual Basic.</p>
        <p>The more time passed the greater was my interest in learning about the web.</p>
        <p>It was 2009 and the social networks, Facebook mainly, were really popular. So I decided to create a game using Facebook API for the first time ever. At this time I had almost 3 years programming in PHP, and about the same time with HTML, CSS and I was a beginner with JavaScript.</p>
        <p>The idea for the game was really simple in all the respects. The game was named "Clickometer" (I made a version in English called Click-o-meter), the objective of this game is to click a big button as fast as you can in 30 seconds. Pretty stupid. The success was so great that I had to adapt the game to 8 languages.</p>
        <figure>
            <img class="u-max-full-width" src="images/clickometro.jpg" height="100%" width="100%" alt="Clickometro screenshot" title="Clickometro">
            <figcaption>A super low quality screenshot of Clickometro, the button and the ads. (Thanks to Google)</figcaption>
        </figure>
        <p>In less than a week the game was played by 3.000.000 unique users. This was my first and unique "big hit" in Facebook. That experience helped me decide which aspect focus as a developer. I decided to focus on the web.</p>
        <hr>
        <p>Years passed and I continued learning and developing ideas, while working as a freelance in different projects.</p>
        <p>In late 2011 my friends Patricio Perez, Guillermo Dieguez, Pedro Mutti and I decide to be part of the 10th edition of Microsoft Imagine Cup. We start competing in Argentina to win a chance to be finalists and travel to Sydney, Australia to represent Argentina and our team. With hard work our team defeated all other teams in Argentina and Uruguay.</p>
        <figure>
            <img class="u-max-full-width" src="images/microsoft1.jpg" alt="Our Team" title="Our Team">
            <figcaption>From left to right: David Delgado (DX Leader Microsoft Argentina &amp; Uruguay), Guillermo Bellmann (our mentor), me (Matías Sanchez), Patricio Perez, Lino Barañao (Minister of Science in Argentina), Sandra Yachelini (former General Manager at Microsoft Argentina and Uruguay), Guillermo Dieguez and Pedro Mutti.</figcaption>
        </figure>
        <p>Soon, thanks to winning, we were able to meet the president of Argentina, Cristina Fernández de Kirchner and Kevin Turner (COO at Microsoft Corp.)</p>
        <figure>
            <img class="u-max-full-width" src="images/microsoft2.jpg" alt="Our Team wtih Kevin Turner" title="Our Team wtih Kevin Turner">
            <figcaption>From left to right: Guillermo Bellmann, Guillermo Dieguez, Matías Sanchez, Cristina Fernández de Kirchner, Patricio Perez, Kevin Turner and Pedro Mutti.</figcaption>
        </figure>
        <p>So we go to Australia and there we have the honor to be part of the biggest software competition in the world. In our category more than 72 countries competed. The winners was the team from Ukraine with their awesome project <a href="http://enabletalk.com/">Enable Talk</a> (former squadSquad).</p>
        <hr>
        <p>At the same time while working in the competition, I decide to start my own company called Hangnest. You can read more about <a href="http://www.hangnest.com/pages/about">the history of Hangnest</a>.</p>
        <p>Hangnest was my son, so I wanted the best of my son. We had the idea and the way to do business with Hangnest really clear. All the technologies, methods and ways to build and design depended on me.</p>
        <p>It took a lot of time to have the first functional version of Hangnest. But we did it after one year of hard work. After 2 months working with the first version of Hangnest, we realise that we had to change a lot of things.</p>
        <p>After finishing the new version, for various reasons we never launched officially, and we forgot about Hangnest.</p>
        <p>That was the last public project I work for me.</p>
        <hr>
        <p>Today I am working on new ideas, and hopefully the new stuff will come out to the light in the next months.</p>
        <p>In the meantime I can help you with your projects, <a href="#contact">let´s get in touch</a>.</p>
    </section>