    <section class="container" id="contact">
        <h2>Contact</h2>
        <h3><span>Let's get in touch</span></h3>
        <p>If you want to write to me: <strong>mail [at] matysanchez.com</strong></p>
        <p>I talk via Skype with the username: <strong>maty_sanchez</strong>.</p>
        <p>I submit code to GitHub under the account: <strong><a href="https://github.com/matysanchez">matysanchez</a></strong>.</p>
        <p>Professionally for LinkedIn I am: <strong><a href="https://www.linkedin.com/in/matysanchez">Matías Sanchez Moises</a></strong>.</p>
        <p>My little used Twitter username is: <strong><a href="https://twitter.com/_matys">@_matys</a></strong>.</p>
        <p>Finally, if you want to see more about my personal life, I am <strong><a href="https://instagram.com/matysanchez">matysanchez</a></strong> at Instagram.</p>
    </section>