    <section class="container" id="technology">
        <h2>Technology</h2>
        <h3><span>Languajes &amp; Frameworks</span></h3>
        <div class="row">
            <div class="three columns"><img class="u-max-full-width" src="images/angular.png" alt="Angular logo" title="Angular"></div>
            <div class="three columns"><img class="u-max-full-width" src="images/backbone.png" alt="Backbone logo" title="Backbone"></div>
            <div class="three columns"><img class="u-max-full-width" src="images/sassless.png" alt="Sass and LESS logo" title="LESS and SASS"></div>
            <div class="three columns"><img class="u-max-full-width" src="images/javascript.png" alt="Javascript logo" title="JavaScript"></div>
        </div>
        <div class="row">
            <div class="three columns"><img class="u-max-full-width" src="images/html5.png" alt="HTML5 logo" title="HTML5"></div>
            <div class="three columns"><img class="u-max-full-width" src="images/css3.png" alt="CSS3 logo" title="CSS3"></div>
            <div class="three columns"><img class="u-max-full-width" src="images/php.png" alt="PHP logo" title="PHP"></div>
            <div class="three columns"><img class="u-max-full-width" src="images/wordpress.png" alt="Wordpress logo" title="Wordpress"></div>
        </div>
        <p>And many more, check it out <a href="#" onclick="mixpanel.track('Link',{'Section':'Resume bottom'});">my resume.</a></p>
    </section>

    <section class="container" id="projects">
        <h2>Projects</h2>
        <h3><span>A showcase of my work</span></h3>

        <article class="project">
            <h2>Hangnest</h2>
            <div class="row">
                <div class="three columns">
                    <p><i class="icon icon-clock"></i> May. 2014</p>
                    <p><i class="icon icon-location"></i> USA &amp; Europe</p>
                    <p><a href="http://hangnest.com/">Visit website</a></p>
                </div>
                <div class="nine columns description">
                    <p>In a nutshell, Hangnest allows groups of travelers to "connect with other groups of travelers" to meet and hangout together in the cities they visit - while traveling. <a href="https://angel.co/hangnest">Hangnest's profile on Angellist</a>.</p>
                    <p>Designed and coded just by myself (front-end and backend).</p>
                </div>
            </div>
            <div class="row description">
                <a href="https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/original/000/298/958/298958-8110b5b1ba8c85835a2672ea854bfff33b528db3.jpg?1395286028"><img class="u-max-full-width" src="images/hangnest.jpg" alt="Hangnest screenshot" title="Hangnest"></a>
                <p>Hangnest was made using the following technologies: PHP, MongoDB, JavaScript, NodeJS, Google Maps, Facebook API and Windows Azure.</p>
            </div>
            <div class="row description">
                <div class="six columns">
                    <a href="https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/original/000/294/274/294274-20ab14a190f3840ffb9b1cad88e29f509dea5f07.jpg?1395272540"><img class="u-max-full-width" src="images/hangnest1.jpg" alt="Hangnest screenshot" title="Hangnest"></a>
                </div>
                <div class="six columns">
                    <a href="https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/original/000/294/277/294277-7eeb3f1787a2a58175d1635b251f305e08c31418.jpg?1395272553"><img class="u-max-full-width" src="images/hangnest2.jpg" alt="Hangnest screenshot" title="Hangnest"></a>
                </div>
            </div>
            <p class="description">It took me about three weeks to define colors, create the logo and design the user interface.</p>
            <p class="description">And almost 10 more weeks to code the back-end and front-end. This was my biggest side project so far.</p>
            <p class="description">I love to work from the ground and help build new stuff. That is the reason I like to work with small teams. Giving life to an idea, and see that idea grow is something incredible for me. That's why is worth working hard day after day after day.</p>
            <div class="row">
                <div class="six columns">
                    <a href="https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/original/000/294/280/294280-c698d4a7079aab8b4ce76dc1c9040793354fefd0.jpg?1395272566"><img class="u-max-full-width" src="images/hangnest3.jpg" alt="Hangnest screenshot" title="Hangnest"></a>
                </div>
                <div class="six columns">
                    <a href="https://d2gn4xht817m0g.cloudfront.net/p/product_screenshots/images/original/000/294/279/294279-cdd70824e329364cb66fa149a66b7f8c58b3488b.jpg?1395272558"><img class="u-max-full-width" src="images/hangnest4.jpg" alt="Hangnest screenshot" title="Hangnest"></a>
                </div>
            </div>

            <hr>

            <h2>Norte PC</h2>
            <div class="row">
                <div class="three columns">
                    <p><i class="icon icon-clock"></i> Dec. 2013</p>
                    <p><i class="icon icon-location"></i> Argentina</p>
                    <p><a href="http://nortepc.com/">Visit website</a></p>
                </div>
                <div class="nine columns description">
                    <p>Norte PC is a argentinian company who sells and repairs computers and cellphones. I designed and coded the e-commer site from the scratch.</p>
                    <p>Norte PC was made using the following technologies: PHP, JavaScript and MySQL.</p>
                </div>
                <img class="u-max-full-width" src="images/nortepc.jpg" alt="Norte PC screenshot" title="Norte PC">
            </div>

            <hr>

            <h2>Humor Ontivero</h2>
            <div class="row">
                <div class="three columns">
                    <p><i class="icon icon-clock"></i> Jan. 2015</p>
                    <p><i class="icon icon-location"></i> Argentina</p>
                    <p><a href="http://humorontivero.com/">Visit website</a></p>
                </div>
                <div class="nine columns description">
                    <p>HumorOntivero.com is the personal page of the Argentinian humorist <a href="http://marcosontivero.com.ar/">Marcos Ontivero</a>.</p>
                    <p>HumorOntivero.com was made using Wordpress with some plugins.</p>
                </div>
                <img class="u-max-full-width" src="images/humorontivero.jpg" alt="HumorOntivero.com screenshot" title="HumorOntivero.com">
            </div>

        </article>
    </section>